*{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width:100%;
}

header {
    background-color:#589bd5;
    height: 50px;
    
    display: inline-flex;
    
    #title{
        margin-left: 10px;
        width:100px;
    }
    form{
        display: flex;
        justify-content: flex;
        width:350px;
        margin-left:700px;
        margin-left:700px;
        #text{
            width:300px;
            height: 35px;
            margin-top:5px;
        }
        #submit{
            width:50px;
            height:40px;
            margin-top:5px;
        }
        
    }
    .icon{
        height: 45px;
        width:45px;
        margin-top:3px;
    }
    #prof{
        margin-left:30px;
    }
    #conf{
        margin-left: 20px;
    }
}


#menu {
    height: 35px;
    background-color: #ed7e31;
    margin-top:-10px;
    padding-top:15px;
    ul{
        display: inline;
        width:500px;
        li{
            display:inline;
        }
        a, a:hover, a:visited, a:link, a:active {
            padding-right: 30px;
            padding-left: 30px;
            
            text-decoration: none;
            color:black;
            font-weight: bold;
        }
        a+a{
            border-left:1px solid #000;
        }
    }
    img{
        width:90px;
        height:40px;
        float: right;
        margin-top: -10px;
        margin-right: 30px;
    }
}

#main {
    background-color: #ffd966;
}
